<%- include('partial/header') %>

<div class="containers">
    <form class="form-box">
      <h2>Forget Password</h2>
     
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Enter Username">
      </div>
      <div class="input-group">
        <label>Old Password</label>
        <input type="text" id="Old Password" placeholder="Enter Old Password">
      </div>
      <div class="input-group">
        <label>New Password</label>
        <input type="password" id="New Password" placeholder="New Enter Password">
      </div>
      <button class="btn" type="reset">Reset</button>
    </form>
  </div>

