<footer class=" shadow-md fixed bottom-0 left-0 w-full z-10">
    <div class="container mx-auto flex justify-center items-center gap-10 p-4">
      <a href="/home"><i class="text-[1.4rem] ri-home-line"></i></a>
      <a href="/search"><i class="text-[1.4rem] ri-search-line"></i></a>
      <a href="/upload"><i class="text-[1.4rem] ri-add-box-line"></i></a>
      <a href="/profile"><div class="w-6 h-6 bg-zinc-300 rounded-full"></div></a>
    </div>
  </footer>
  
</body>
</html>